$navbar-default-bg: black;
* {
  margin: 0;
  padding: 0;
}



@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.25em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}
