$navbar-default-bg: black;

#logo {
  float: left;
  font-size: 1.25em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron p {
  padding-top: 20px;
}

.cust-jumbotron {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  height: auto;
  text-align: center;
  background-image: asset-url('warmboards.jpg');
  color: white;
  font-family: sans-serif;
}

.footer {
  text-align: center;
margin-top: 50px;
padding-top: 10px;
border-top: 2px solid black;
color: #777;
}

.wrapper {
  color: white;
}

.cust-users {
  padding-top: 20px;
  background: gray;
  color: white;
}

.cust-users a {
  color: white;
}
