<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Jack Hages shitty instagram bootstrap hackfest
    </small>
    <nav>
      <ul>

      </ul>
    </nav>
  </footer>
</div>
